<?xml version="1.0"?>
<model>
  <!-- Gazebo uses this metadata to resolve model://bookshelf. -->
  <name>bookshelf</name>
  <version>1.4</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>Open Source Robotics Foundation</name>
    <email>info@osrfoundation.org</email>
  </author>
  <description>
    Static 0.9 m x 0.4 m x 1.2 m bookshelf from osrf/gazebo_models.
  </description>
</model>
